@import url('nativescript-theme-core/css/sky.css');
.actionBar-title {
	font-family:abel-regular;
	text-transform:uppercase;
	letter-spacing:.2;
	font-weight:bold;
}
.container {
	margin: 5;
}
.header {
	padding: 15,0,15,0;
	border-top-left-radius: 10;
	border-top-right-radius: 10;
	background-color: #30bcff;
}
.head-title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-family: abel-regular;
	color: #fff;
	letter-spacing: .2;
}
.username-con {
	padding: 15,10,15,10;
	background-color: #fff;
}
.tag-name {
	font-weight: bold;
	letter-spacing: .2;
}
.input-field {

}
.text-field {
	margin-bottom: 10
}
.textField-icon {
	padding: 5;
	text-align: center;
	color: #30bcff;
}
.save-btn {
	margin-top: 10;
	width: 50%;
	height: 35;
	border-top-left-radius: 5;
	border-bottom-right-radius: 5;
	background-color: #30bcff;
	color: #fff;
	font-weight: bold;
	font-size: 13;
}
.error-message { 
	width:70%;
	min-height:50px;
	background-color:red;
	border-radius:10px;
	margin-bottom:20px;
}
.message { 
	font-size:15px;
	margin:10px;
	color:#fff;
}