@import 'nativescript-theme-core/css/sky.css';
.actionBar-title {
	font-family: abel-regular;
	text-transform: uppercase;
	letter-spacing: .2;
  	font-weight: bold;
}
.container {
	margin: 5
}
.header {
	padding: 5,0,5,10;
	border-top-left-radius: 10;
	border-top-right-radius: 10;
	background-color: #30bcff;
}
.announcementTitle {
	padding: 10,20,10,3;
	color: #fff;
}
.contentCon {
	padding: 5,10,0,10;
	background-color: #fff;
}
.content {
	padding: 5,10,10,10;
	line-height: .5;
}
.con {
	padding: 10,5,10,5;
	border-bottom-width: 1;
}
.label-bold {
	padding-right: 3;
	font-weight: bold;
}
.month {
	padding-right: 1;
}
.date {
	margin-left: 5;
}