// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
/*@import 'nativescript-theme-core/css/core.light.css';*/
@import '~/nativescript-theme-core/css/sky.css';

.page {
	background-image: url("res://bg");
	background-repeat: no-repeat;
	background-size: cover;
}
.font-awesome {
	font-family: FontAwesome;
}
.actionBar-title {
	font-family: abel-regular;
	text-transform: uppercase;
	letter-spacing: .2;
  	font-weight: bold;
}