.student-info {
	padding: 20,10,15,10;
	background-color: #2b94c6;
	color: #fff;
}
.img-con {
	margin-top: 20;
}
.user-image {
	margin-top: 10;
	height: 110;
	width: 110;
	border-width: 2;
	border-color: #fff;
}
.info-icon {
	font-size: 17;
	padding: 10;
	text-align: center;
}
.info-title {
	font-weight: bold;
	letter-spacing: .1;
}
.info {
	font-size: 12;
	letter-spacing: .1;
}
.nav-buttons {
	padding: 30,0,30,0;
	text-align: center;
	color: #d7d7d4;
}
.navigation-button {
	margin: 3;
	padding: 20, 0, 20, 0;
	border-radius: 15;
}
.home-icon {
	padding: 20,0;
	font-size: 30;
}
.nav-title {
	padding: 0,5,10,5;
	font-size: 12;
	font-weight: bold;
}
.profile {
	background-color: rgb(222,30,40);
}
.announcement {
	background-color: rgb(63,101,240);
}
.sched {
	background-color: rgb(131,130,14);
}
.grades {
	background-color: rgb(53,143,66);
}
.request {
	background-color: rgb(235,89,31);
}
.misc {
	background-color: rgb(195,36,214);
}
