@import 'nativescript-theme-core/css/sky.css';
.actionBar-title {
	font-family: abel-regular;
	text-transform: uppercase;
	letter-spacing: .2;
  	font-weight: bold;
}
.container {
	margin: 5;
}
.header {
	padding: 15,0,15,0;
	border-top-left-radius: 10;
	border-top-right-radius: 10;
	background-color: #30bcff;
}
.head-title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-family: abel-regular;
	color: #fff;
	letter-spacing: .2;
}
.dropDown {
	margin-top: 100;
}
.formDD {
	padding: 25,15,30,15;
	border-bottom-left-radius: 10;
	border-bottom-right-radius: 10;
	background-color: #fff;
}
.drop-down {
	margin-top: 15; 
	padding: 5;
	width: 80%;
	border-width: 1;
	border-radius: 2;
}
.dropdown-data {
	padding: 3;
	text-align: center;
}
.dd-button {
	margin-top: 25;
	width: 50%;
	height: 35;
	border-top-left-radius: 5;
	border-bottom-right-radius: 5;
	background-color: #30bcff;
	color: #fff;
	font-weight: bold;
	font-size: 13;
}
DropDown {
	text-align: center;
}
.information {
	margin-top: 15;
	text-align: center;
}
.student-misc {
	padding: 10;
	background-color: #fff;
}
.sem-year {
	padding-top: 15;
	text-align: center;
	font-weight: bold;
}
.bold-text {
	font-weight: bold;
}
.title {
	padding-top: 15;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2;
}
.info {
	margin-top: 20;
	margin-bottom: 15;
}
.data {
	padding-left: 5;
}
.student-info {
	padding-bottom: 5;
}
.table-field {
	padding: 3,1,3,1;
	border-width: 1;
	text-align: center;
	font-weight: bold;
}
.table-data {
	padding: 3,3,3,5;
	border-width: 1;
}
.data-result {
	text-align: center;
}
.total-payment {
	margin-bottom: 10;
}
.field-title {
	font-weight: bold;
	text-transform: uppercase;
}
.payment-result {
	padding-left: 15;
}