@import 'nativescript-theme-core/css/sky.css';
.page {
	background-image: url("res://bg");
	background-repeat: no-repeat;
	background-size: cover;
}
.actionBar-title {
	font-family: abel-regular;
	text-transform: uppercase;
	letter-spacing: .2;
  	font-weight: bold;
}
.container {
	margin: 70,5,0,5; 
}
.lvcc {
	padding: 5,0,20,0;
	border-bottom-width: 5;
	border-color: #2575a2;
	border-top-left-radius: 15;
	border-top-right-radius: 15;
	background-color: #30bcff;
	text-align: center;
	color: #fff;
}
.school-logo {
	margin: 10,0,10,0;
}
.school-name {
	font-family: Tolkien;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .2;
	line-height: 5;
}
.school-add {
	font-family: abel-regular;
	letter-spacing: .2;
	line-height: 5;
}
.input-form {
	padding: 30,10,30,10;
	border-bottom-left-radius: 15;
	border-bottom-right-radius: 15;
	background-color: #fff;
	text-align: center;
}
.form-textField {
	padding-bottom: 5;
}
.form-icon {
	padding: 5;
	font-size: 20;
	color: #2575a2;
	font-weight: bold;
}
.loginBtn {
	margin-top: 25;
	width: 60%;
	height: 35;
	border-top-left-radius: 5;
	border-bottom-right-radius: 5;
	background-color: #30bcff;
	color: #fff;
	font-weight: bold;
	font-size: 13;
}
.error-message { 
	width:70%;
	min-height:50px;
	background-color:red;
	border-radius:10px;
	margin-bottom:20px;
}
.message { 
	font-size:15px;
	margin:10px;
	color:#fff;
}